*{  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body{
    overflow: hidden;
<<<<<<< HEAD
    background-image: url(img/c540018ca1c7b93cb1fbc218ea0c73a7.png);
    background-repeat:none ;
    background-size: cover;

}

.navbar-top{
    background-color:none;
    border-top-right-radius: 3vw;
    border-bottom-right-radius:3vw;
    border: 0.1vw solid rgb(135, 183, 179);
    margin-top: 0.2vw;
=======
}

.navbar-top{
    background-color:rgb(165, 165, 165);
    border-top-right-radius: 3vw;
    border-bottom-right-radius:3vw;
>>>>>>> main
    padding: 0.3% 6% 0.3% 2%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width:20%;
<<<<<<< HEAD
    margin-right: 73.8vw;
    box-shadow: 0 0.5vw 0.9vw 0 rgb(143, 175, 243);
=======
    margin-right: 74.05vw;
>>>>>>> main
}
.navbar-top a {
    text-decoration: none;
    font-size:2vw;
    color: white;
    width: 10%;
    text-align: center;
    margin-right: 4vw;
}
.navbar-top .fa-house{
    color: white;
    font-size: 1.4vw;
    padding:0 0.4vw;
    width: 1,4vw;
    margin-right:2vw;
}
.navbar-top .History{
    margin-right: 1vw;
}

.nav-bar-setting  {
    display: inline;
    max-width:5%;
    text-align: center;
<<<<<<< HEAD
    background-color: none;
    border-top-left-radius: 3vw;
    border-bottom-left-radius:3vw;
    padding: 1.3% 1.6% 0.5% 2%;
    border: 0.1vw solid rgb(135, 183, 179);
    box-shadow: 0 0.5vw 0.9vw 0 rgb(143, 175, 243);
=======
    background-color: rgb(165, 165, 165);
    border-top-left-radius: 3vw;
    border-bottom-left-radius:3vw;
    padding: 1.38% 1.6% 0.5% 2%;
>>>>>>> main
}

.nav-bar-setting a{
    text-decoration: none;
    font-size:2vw;
    color: white;
    width: 10%;
    text-align: center;
}


.navbar-top a:hover{
<<<<<<< HEAD
    color: rgb(101, 250, 248);
}

.nav-bar-setting a:hover{
    color: rgb(101, 250, 248);;
=======
    color: rgb(69, 246, 243);
    cursor:pointer;
>>>>>>> 8e05b733ed857690999b3346b762f56f243dc058
}

.nav-bar-setting a:hover{
    color: rgb(69, 246, 243);
}

.create-newproject{
    position: relative;
    outline: none;
    background: none;
    padding: 40% 50% 0 50%;
}

.create-newproject .create-title{
    position: absolute;
    padding-top:4.5%;
    font-size:1.5vw;
}

.create-newproject .button-create-newproject{
    position: absolute;
    background: none;
    color: rgb(133, 129, 129);
    width: 14.2%;
    border-radius: 50%;
    left: 50%;
    top: 80%;
    padding: 3% 0;
    transform: translateX(-50%) translateY(-50%);
    border:0.1vw solid rgb(133, 129, 129);
    cursor: pointer;
    box-shadow: 0 0 1vw 0.2vw black;
}

.create-newproject .button-create-newproject:hover{
    color:rgb(220, 109, 62);
    border: 0.1vw solid rgb(249, 193, 103);
    box-shadow: 0 0 1vw 0.5vw rgb(219, 106, 57);
}

.button-create-newproject .fa-thin{
    font-size: 7vw;
}

.create-newproject .create-title{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.window-create-new-project{
    position: absolute;
    width: 35%;
    background-color: rgb(147, 135, 135);
    top: 23%;
    left: 32%; 
    border: 0.2vw solid rgb(74, 72, 72);
    box-shadow: -0.9vw 0.7vw 1vw 0.4vw #333;
    color: rgb(69, 246, 243);
    padding:0 1vw 4vw 1vw;
    display: none;
}

.window-create-new-project h3{
    text-align: center;
    font-size: 2vw;
    margin-top:0.3vw;
}
.window-create-new-project .button-close-window-create-project{
    outline:none;
    background: none;
    border: none;
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 2vw;
    color: rgb(69, 246, 243);
    cursor: pointer;
}

.window-create-new-project .project-name{
    width: 100%;
    border: 0.15vw solid rgb(69, 246, 243);
    border-radius: 2vw;
    margin:1vw 0;
    background: none;
    color: rgb(69, 246, 243);
    padding: 0.4vw 1.3vw;
}
.window-create-new-project .project-name:focus{
    outline: none;
    border-color: rgb(69, 246, 243);
}
.create-project-name-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.window-create-new-project .place-holder{
    position: absolute;
    left: 7%;
    font-size: 1.3vw;
    background: transparent;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(69, 246, 243);
}
.window-create-new-project input:valid ~ label,
.window-create-new-project input:focus ~ label
{
    font-size: 0.9vw;
    transform: translateY(-1.7vw);
}

.window-create-new-project .add-detail{
    margin-top:3%;
}

.add-detail .add-link{
    width:100%;
    background: none;
    border: 0.2vw solid rgb(69, 246, 243);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    border-radius: 2vw;
    color: rgb(69, 246, 243);
}

.add-detail .add-link:focus{
    outline: none;
    border-color: rgb(69, 246, 243);
}

.add-detail .add-picture{
    border:0.25vw dashed rgb(69, 246, 243);
    width:100%;
    margin:1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    row-gap: 0.2vw;
    padding:5vw 0;
}

.add-detail .title-add-link{
    font-size:1vw;
}
.project-link-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.window-create-new-project .fa-link{
    color: rgb(69, 246, 243);
    font-size: 1vw;
    position: absolute;
    left:5%;
}

.add-picture .guide-add-picture{
    font-size:1.3vw;
}

.add-picture button{
    background-color: rgb(69, 246, 243);
    padding:0.4vw 0.8vw;
    cursor: pointer;
}

.add-picture button:hover{
    box-shadow: 0px 0px 1vw 0.2vw #41e5d9;
}

.window-create-new-project .create-submit{
    position: absolute;
    left: 50%;
    bottom:3%;
    transform: translateX(-50%);
    font-size: 1.8vw;
    cursor: pointer;
    padding:0.2vw 0.4vw;
    color: black;
    background-color: rgb(69, 246, 243);
    box-shadow: 0px 0px 0.5vw 0px #242323;
}

.window-create-new-project .create-submit:hover{
    color: black;
    background-color: rgb(119, 245, 110);
    box-shadow: 0px 0px 0.5vw 0.3vw #2df41b;
}

.window-history{
    display:none;
    position: absolute;
    width:60%;
    background-color: #ABF9F9;
    top:10%;
    left:2%;
    border:2px solid gray;
    grid-template-rows: 10vh 9vh 3.5vh 55.5vh;
}

.window-history .title-window-history{
    width:100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding:0 2%;
    border-bottom: 2px solid gray;
}

.title-window-history .title-history{
    font-size:2vw;
    color: #605E5E;
}

.title-window-history .button-close-window-history{
    outline: none;
    background: none;
    border:none;
    color: #605E5E;
    cursor: pointer;  
}
.button-close-window-history i{
    font-size: 2vw;
    width:2vw;
}

.button-close-window-history i:hover{
     background-color: rgba(128, 128, 128, 0.299);
     border-radius: 50%;
}

.search{
    width: 100%;
    position: relative;
    padding:0px 2%;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
}

.search .icon-search{  
    width:5%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: #dcd9d9;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #605E5E;
    outline: none;
    border-right: none;
}

.search .input-search{
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-left: 1%;
    width:30%;
    background: none;
    border: 1px solid #605E5E;
    color: #605E5E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 255, 255, 0.692);
}

.search .input-search:focus{
    border: 1px solid #605E5E;
    outline: none;
}

.search .window-history-button-create{
    border: none;
    outline: none;
    color: #605E5E;
    background: none;
    cursor:pointer;
    position: absolute;
    right:2%;
    
}

.window-history-button-create i{
    font-size:2vw;
    justify-self: right;
    width:2vw;
}

.window-history-button-create i:hover{
    background-color: rgba(128, 128, 128, 0.299);
    border-radius: 50%;
}

.window-history .project{
    width:90%;
    background-color: white;
    margin:2% 2%;
    padding: 0;
    display: flex;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    justify-content:left;
    position: relative;
    border: 1px solid black;
    align-items: center;
}

.project .add-moment{
    background-color: #dcd9d9;
    border-right:1px solid black;
    width: 17%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    text-align: center;
    font-size: 1vw;
    padding:1% 0;

}
.project button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size:1.2vw;
    z-index: 10;
}
.project .project-name{
    width:60%;
    background-color: #def5f5;
    text-align: center;
    border: 1px solid #1fb3b3;
    border-radius:20px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.buttons-container{
    position: absolute;
    right:2%;
    display:flex;
    width:20%;
    justify-content: space-around;
}
.project-name .name{
    text-decoration: none;
    color: black;
}

.project-name .name:hover{
    text-decoration: underline #2878f0;
    color: #2878f0;
}




