*{  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body{
    overflow: hidden;
    background-image: url(img/c540018ca1c7b93cb1fbc218ea0c73a7.png);
    background-repeat:no-repeat ;
    background-size: cover;

}

.navbar-top{
    background-color:none;
    border-top-right-radius: 3vw;
    border-bottom-right-radius:3vw;
    border: 0.1vw solid rgb(135, 183, 179);
    margin-top: 0.2vw;
    padding: 0.3% 6% 0.3% 2%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width:20%;
    margin-right: 73.8vw;
    box-shadow: 0 0.5vw 0.9vw 0 rgb(143, 175, 243);
}
.navbar-top a {
    text-decoration: none;
    font-size:2vw;
    color: white;
    width: 10%;
    text-align: center;
    margin-right: 4vw;
    cursor: pointer;
}
.navbar-top .fa-house{
    color: white;
    font-size: 1.4vw;
    padding:0 0.4vw;
    width: 1,4vw;
    margin-right:2vw;
}
.navbar-top .History{
    margin-right: 1vw;
}

.nav-bar-setting  {
    display: inline;
    max-width:5%;
    text-align: center;
    background-color: none;
    border-top-left-radius: 3vw;
    border-bottom-left-radius:3vw;
    padding: 1.3% 1.6% 0.5% 2%;
    border: 0.1vw solid rgb(135, 183, 179);
    box-shadow: 0 0.5vw 0.9vw 0 rgb(143, 175, 243);
}

.nav-bar-setting a{
    text-decoration: none;
    font-size:2vw;
    color: white;
    width: 10%;
    text-align: center;
}


.navbar-top a:hover{
    color: rgb(101, 250, 248);
}

.nav-bar-setting a:hover{
    color: rgb(101, 250, 248);
    cursor: pointer;
}

.nav-bar-setting a:hover{
    color: rgb(69, 246, 243);
}

.create-newproject{
    position: relative;
    outline: none;
    background: none;
    padding: 40% 50% 0 50%;
}

.create-newproject .create-title{
    position: absolute;
    padding-top:4.5%;
    font-size:1.5vw;
}

.create-newproject .button-create-newproject{
    position: absolute;
    background: none;
    color: rgb(133, 129, 129);
    width: 14.2%;
    border-radius: 50%;
    left: 50%;
    top: 80%;
    padding: 3% 0;
    transform: translateX(-50%) translateY(-50%);
    border:0.1vw solid rgb(133, 129, 129);
    cursor: pointer;
    box-shadow: 0 0 1vw 0.2vw black;
}

.create-newproject .button-create-newproject:hover{
    color:rgb(220, 109, 62);
    border: 0.1vw solid rgb(249, 193, 103);
    box-shadow: 0 0 1vw 0.5vw rgb(219, 106, 57);
}

.button-create-newproject .fa-thin{
    font-size: 7vw;
}

.create-newproject .create-title{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.window-create-new-project{
    position: absolute;
    width: 35%;
    background-image: url(img/night-sky-stars-milky-way-4k.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 10%;
    left: 32%; 
    border: 0.2vw solid rgb(87, 178, 235);
    box-shadow: -1vw 1vw 1vw 0.1vw #2cedf4;
    color: rgb(223, 150, 80);
    padding:0 1vw 4vw 1vw;
    display: none;
}

.window-create-new-project h3{
    text-align: center;
    font-size: 2vw;
    margin-top:0.3vw;
    margin-bottom:0.7vw ;
}
.window-create-new-project .button-close-window-create-project{
    outline:none;
    background: none;
    border: none;
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 2vw;
    color: rgb(223, 150, 80);
    cursor: pointer;
}

.window-create-new-project .project-name{
    width: 100%;
    border: 0.15vw solid rgb(223, 150, 80);
    border-radius: 2vw;
    margin:0.4vw 0;
    background: none;
    color: rgb(223, 150, 80);
    padding: 0.4vw 1.3vw;
}
.window-create-new-project .project-name:focus{
    outline: none;
    border-color: rgb(223, 150, 80);
}
.create-project-name-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.window-create-new-project .place-holder{
    position: absolute;
    left: 7%;
    font-size: 1.3vw;
    background: transparent;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(223, 150, 80);
}
.window-create-new-project input:valid ~ label,
.window-create-new-project input:focus ~ label
{
    font-size: 0.9vw;
    transform: translateY(-1.7vw);
}

.window-create-new-project .add-detail{
    margin-top:3%;
}

.add-detail .add-link{
    width:100%;
    background: none;
    border: 0.2vw solid rgb(223, 150, 80);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 7%;
    border-radius: 2vw;
    color: rgb(223, 150, 80);
}

.add-detail .add-link:focus{
    outline: none;
    border-color: rgb(223, 150, 80);
}
.add-link::placeholder{
    color: rgb(223, 150, 80);
}

.add-detail .add-picture{
    border:0.25vw dashed rgb(223, 150, 80);
    width:100%;
    margin:1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    row-gap: 0.2vw;
    padding:5vw 0;
}

.add-detail .title-add-link{
    font-size:1vw;
    margin-left: 1vw;
}

.source-link-container{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.window-create-new-project .fa-link{
    color: rgb(223, 150, 80);
    font-size: 1vw;
    position: absolute;
    left:5%;
}
.window-create-new-project .web-adress{
    margin-top: 1vw;
    width: 100%;
    background: none;
    padding:1% 4%;
    border: 0.2vw solid rgb(223, 150, 80);
    border-radius: 2vw;
    color: rgb(223, 150, 80);
}
.web-adress::placeholder{
    color: rgb(223, 150, 80);
}
.web-adress:focus{
    border: 0.2vw solid rgb(223, 150, 80);
    outline: none;
}
.add-picture{
    background-size:contain !important;
    background-position: center !important;
}
.add-picture .guide-add-picture{
    font-size:1.3vw;
    margin:1vw;
    margin-bottom: 0.7vw;
}

.add-picture .choose{
    font-size: 1.5vw;
    margin-bottom: 0.7vw;
}
.add-picture button{
    background-color: rgb(223, 150, 80);
    padding:0.5vw 0.9vw;
    cursor: pointer;
    font-size: 1.3vw;
}

.add-picture button:hover{
    box-shadow: 0px 0px 1vw 0.2vw rgb(236, 132, 34);
}

.window-create-new-project .create-submit{
    position: absolute;
    left: 50%;
    bottom:3%;
    transform: translateX(-50%);
    font-size: 1.8vw;
    cursor: pointer;
    padding:0.2vw 0.4vw;
    color: black;
    border:0.15vw solid #707474;
    background-color: rgb(109, 109, 241);
    box-shadow: 0px 0px 0.5vw 0px #464444;
}

.window-create-new-project .create-submit:hover{
    color: black;
    background-color: rgb(223, 150, 80);
    border:0.15vw solid #ef4f3d;
    box-shadow: 0px 0px 0.5vw 0.3vw rgb(239, 135, 38);
}

.window-history{
    display:none;
    position: absolute;
    background-image: url(img/SEA\ SUNSET\ WALLPAPER\ 4K\ 582023.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:60%;
    top:10%;
    left:2%;
    z-index: 1;
    border:2px solid gray;
    grid-template-rows: 10vh 9vh 3.5vh 55.5vh;
    box-shadow: -0.9vw 1vw 1vw 0.2vw rgba(240, 67, 67, 0.598);
}

.window-history .title-window-history{
    width:100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding:0 2%;
    border-bottom: 2px solid gray;
}

.title-window-history .title-history{
    font-size:2.4vw;
    color: #f14e31;
    margin-left: 1vw;
}

.title-window-history .button-close-window-history{
    outline: none;
    background: none;
    border:none;
    color: #f14e31;
    cursor: pointer;  
}
.button-close-window-history i{
    font-size: 2vw;
    width:2vw;
}

.button-close-window-history i:hover{
     background-color: #f8f696bb;
     border-radius: 50%;
}

.search{
    width: 100%;
    position: relative;
    padding:0px 2%;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
}

.search .icon-search{  
    width:7%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: #dcd9d9;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 0.12vw solid #5e5757;
    outline: none;
    border-right: none;
}

.search .input-search{
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    padding-left: 1.25%;
    width:25%;
    background: none;
    border: 0.12vw solid #605E5E;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(252, 114, 83);
}
.input-search::placeholder{
    color: black;
}

.search .input-search:focus{
    border: 0.12vw solid #605E5E;
    outline: none;
    width: 40%;
    transition: 0.2s;
}

.search .window-history-button-create{
    border: none;
    outline: none;
    color: #f14e31;
    background: none;
    cursor:pointer;
    position: absolute;
    right:2%;
    
}

.window-history-button-create i{
    font-size:2vw;
    justify-self: right;
    width:2vw;
}

.window-history-button-create i:hover{
    background-color: #f8f696bb;
    border-radius: 50%;
}

.window-history .dropdown{
    width:10%;
    margin-left: 86%;
    background-color: #c2c2c2;
    border: 0.1vw solid rgb(110, 106, 106);
    border-top: none;
    position: relative;
}

select::after{
    text-align: left;
}

.dropdown option::after{
    border-radius: 0;
    text-align: left;
    border: 0.1vw solid rgb(110, 106, 106);
    border-top:none ;
}

.window-history .project{
    width:90%;
    background-color: white;
    margin:2% 2%;
    padding: 0;
    display: flex;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    justify-content:left;
    position: relative;
    border: 1px solid black;
    align-items: center;
}
.window-history .project-container{
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0.8vw;
    border: 0.1vw solid rgb(108, 106, 106);
    border-radius: 0.5vw;

}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: #f14e31; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #f14e31; 
}
.project .add-moment{
    background-color: #dcd9d9;
    border-right:0.1vw solid black;
    width: 17%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    text-align: center;
    font-size: 1vw;
    padding:1% 0;

}
.project button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size:1.2vw;
    z-index: 10;
}
.project .project-name{
    width:60%;
    background-color: rgb(252, 114, 83);
    text-align: center;
    border: 0.12vw solid #fa1e01;
    border-radius:20px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    margin:0 1vw;
}

.buttons-container{
    position: absolute;
    right:1%;
    display:flex;
    width:20%;
    justify-content: space-around;
}
.project-name .name{
    text-decoration: none;
    color: black;
}

.project-name .name:hover{
    text-decoration: underline #2878f0;
    color: #2878f0;
}

.window-information{
    width:47.76%;
    position: absolute;
    display: grid;
    left: 25%;
    top:10%;
    border: 0.1vw solid #f53b6d;
    border-radius: 2vw;
    background-image: url(img/de1ddf9ee30e08e15460626b919ef87e\ 1\ \(1\).png);
    background-size: cover;
    padding:0 4.53% 0 4.53%;
    box-shadow: 0 0 1vw 0.3vw rgb(253, 86, 86);
    grid-template-rows: 26vw 10vw 4vw;
    grid-template-areas:
    "pics"
    "name"
    "source" ;

}
.window-information .picture{
    grid-area:pics;
    background-color: rgba(255, 255, 255, 0.447);
    margin-bottom: 6.9%;
    margin-top: 4%;
}
.window-information .project-name{
    grid-area: name;
    width: 100%;
    text-align: center;
    font-size:4vw;
    margin-top: 13%;
    color:#BD4061;
}
.window-information {
    grid-area: link;
    color: #BD4061;
    text-align: center;
    font-size:2.1vw;
}
.window-information a{
    text-decoration: underline;
}
.window-information i{
    font-size:4vw;
    position: absolute;
    color:#BD4061;
    bottom:3%;
    left:3%;
    cursor: pointer;
}

.logo{
    position: absolute;
    left:3%;
    bottom:8%;
    width:5%;
    height:8%;
}

